@{
    Layout = "~/Views/Shared/_LayoutWalker.cshtml";
}

@model IEnumerable<DogWalkerAgain.Models.WalkDetails>

@{
    ViewBag.Title = "WalkSchedule";
}

<h2>WalkSchedule</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDogs)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDogs)
            </td>
        </tr>
    }

</table>
