@{
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

@model IEnumerable<DogWalkerAgain.Models.Walk>

@{
    ViewBag.Title = "IndexCopy";
}

<h2>My Walks</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WalkerApprovalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnersApprovalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WalkComplete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WalkerApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnersApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkComplete)
            </td>
            <td>
                @Html.ActionLink("Walk Details", "Details", "WalkDetails", new { id = item.Id }, null) |
                @Html.ActionLink("Check Approval Info", "Details", "Walks", new { id = item.Id }, null)
                @*@Html.ActionLink("Delete", "Delete", "Walks", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>