@{
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

@model DogWalkerAgain.Models.Walk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Walk</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.WalkerApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WalkerApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnersApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnersApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WalkComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WalkComplete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update My Approval", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", "Owners")
</p>
