@{
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

@model DogWalkerAgain.Models.Walk

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Walk</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OwnerId);
    @Html.HiddenFor(model => model.WalkerId);
    @Html.HiddenFor(model => model.OwnersApprovalStatus);
    @Html.HiddenFor(model => model.WalkComplete);

    <div class="form-group">
        @Html.LabelFor(model => model.WalkerApprovalStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.WalkerApprovalStatus, new SelectList(new[] { "interested" }, Model.WalkerApprovalStatus))
            @Html.ValidationMessageFor(model => model.WalkerApprovalStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" formaction="@Url.Action("WalkerEdit", "Walks")" class="btn btn-default" />
        </div>
    </div>

</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
