@model DogWalkerAgain.Models.Demeanor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Demeanor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dog.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dog.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KidFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KidFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index", "Dogs")
</p>
